body {
    margin: 40px;
    background-color: rgb(255, 239, 213);
    text-align: center;
    font-family: 'Trebuchet MS', Tahoma, Geneva, Verdana, sans-serif;
}

#artist_data {
    width: 10em; height: 2em;
}

#sample_data {
    width: 10em; height: 2em;
}