{% extends 'base.html' %}
{% block content %}

<!-- https://python-web.teclado.com/section07/lectures/06_jinja2_conditional_statements/#basic-comparisons -->
<h1>Saved Artists</h1>
{% if artists %}
        <table class="center" style="width:20%">
            <tr>
                <th>Artist</th>
                <th>Saved</th>
            </tr>
            {% for artist in artists %}
            <tr>
                <td>
                    <!-- https://stackoverflow.com/questions/20832065/url-for-in-flask-when-using-parameters -->
                    <a href="{{ url_for('artist', name = artist.name) }}">{{ artist.name }}</a>
                </td>
                <td>
                    {{ artist.date_created.date() }}
                </td>
            </tr>
            {% endfor %}
        </table>

{% else %}
    No artists saved yet!
{% endif %}

<hr>

<form method="POST" action="/bookmark">
    <input type="submit" name="action" value="Sample Page">
</form>

<p><a href="/">Go back to home page</a></p>

{% endblock %}