{% extends 'base.html' %}
{% block content %}


<h1>{{ artist_name }} </h1>

<p> <img src="{{ artist_img }}"
         width="400"
         height="400">
</p>

<hr>

<h2>Genre</h2>
<p> {{ artist_genres }} </p>
<hr>

<h2>Top Tracks</h2>

<!-- https://python-web.teclado.com/section07/lectures/07_jinja2_loops/ -->
    {% for track in artist_tracks %}
    <p>
        Title: {{ track.title }}<br>
        Album: {{ track.album }}<br>
        Release Date: {{ track.release_date }}<br>
        <a href="{{ track.spotify_url }}">Listen on Spotify</a>
    </p>
    {% endfor %}

<hr>

<h2>{{ music_video }}</h2>

<p>
    <a href="https://www.youtube.com/watch?v={{ music_video_id }}">
        <img src="{{ music_video_thumb }}">
</a>
</p>

<hr>

<h2>Events</h2>

{% if events %}
        <table class="center" style="width:30%">
            <tr>
                <th>Event</th>
                <th>Date</th>
                <th>Venue</th>
            </tr>
            {% for event in events %}
            <tr>
                <td>
                    {{ event['name'] }}
                </td>
                <td>
                    {{ event['date'] }}
                </td>
                <td>
                    {{ event['venue'] }}
                </td>
            </tr>
            {% endfor %}
        </table>

{% else %}
    No events found
{% endif %}

<hr>

<p><a href="/">Go back to home page</a></p>

{% endblock %}